#app,header,main,section{
	position: relative;
}
#app,main,section{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
}
.pop-icon{
	position: fixed;
	bottom: 7rem;
	right: 3.5rem;
	z-index: 99;
	cursor: pointer;
}
.sponsor{
  width:48px;
  height:48px;
  line-height:48px;
  text-align:center;
  color:#ffffff;
  font-size:24px;
  font-weight:900;
  background-color:#E84B4B;
  border-radius:50%;
  box-shadow:inset 0 0 0 4px #CA2F3C,inset 0 0 0 5px #BD2831,0 4px 10px rgba(0, 0, 0, 0.2);
  animation:ani-sponsor 3.2s cubic-bezier(0, 0.2, 0.8, 1) infinite;
	position: relative;
}
@keyframes ani-sponsor{
  0%{
  transform:rotateY(0deg);
  animation-timing-function:cubic-bezier(0.5,0,1,0.5);
	}
	50%{
		transform:rotateY(900deg);
		animation-timing-function:cubic-bezier(0,0.5,0.5,1);
	}
	100%{
		transform:rotateY(1800deg);
		animation-timing-function:cubic-bezier(0.5,0,1,0.5);
	}
}
.page-load{
	width: 100%;
	height: 100vh;
	background-color: var(--second-color);
	position: fixed;
	top: 0;
	z-index: 99999;
	display: flex;
	justify-content: center;
	align-items: center;
}
.text-load-box{
	 height: 48px;
	 font-size: 32px;
	 font-weight: 700;
	 letter-spacing: 24px;
	 color: var(--main-color);
	 display: flex;
	 justify-content: center;
	 align-items: center;
}
.text-load-box span{
	text-shadow: var(--title-shadow);
	animation: text-load 1.75s linear infinite;
}
.text-load-box span:nth-of-type(1){
 animation-delay: 0.25s;
}
.text-load-box span:nth-of-type(2){
 animation-delay: 0.5s;
}
.text-load-box span:nth-of-type(3){
 animation-delay: 0.75s;
}
.text-load-box span:nth-of-type(4){
 animation-delay: 1s;
}
.text-load-box span:nth-of-type(5){
 animation-delay: 1.25s;
}
.text-load-box span:nth-of-type(6){
 animation-delay: 1.5s;
}
@keyframes text-load{
 0%{
  transform: translateY(0);
 }
 50% {
  transform: translateY(-16px);
 }
 100%{
	transform: translateY(0);
 }
}
header{
	width: 100%;
	padding: 9.75rem 0 4.625rem;
}
.logo-aside{
	width: 100%;
	padding: 0 3.5rem;
	position: absolute;
	top: 3.5rem;
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
}
.logo-website,.gitee-ico{
	display: flex;
	position: relative;
	align-items: center;
}
.logo-img{
	width: 2.5rem;
	position: relative;
	font-size: 0;
}
.logo-img img{
  width: 100%;
}
.logo-name{
	font-size: 1.125rem;
	font-weight: bold;
	margin-left: 1.25rem;
}
.gitee-ico svg{
	width: 24px;
	fill: #C71D23;
	margin-right: 0.625rem;
}
.head-title{
	width: 100%;
	font-size: 3rem;
	font-weight: 900;
	color: var(--second-color);	
	text-shadow: var(--title-shadow);
	text-align: center;
	letter-spacing: 0.75rem;
}
section{
	margin-top: 5.125rem;
}
.tag{
	width: 100%;
	display: flex;
	justify-content: center;
}
.p-title{
	font-size: 1.125rem;
	font-weight: 700;
	padding: 0 2rem 1.25rem;
	box-sizing: border-box;
	position: relative;
	cursor: pointer;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.tag-sel:after{
	content: '';
	width: 0.25rem;
	height: 0.25rem;
	display: block;
	margin-top: 0.25rem;
	background-color: var(--main-color);
	border-radius: 50%;
	box-sizing: border-box;
	animation: ani1 1.5s ease-in-out infinite;
}
@keyframes ani1 {
	0%{
		transform: scale(1);
	}
	50%{
		transform: scale(1.4);
	}
	100%{
		transform: scale(1);
	}
}
.p-title:hover{
	transform: scale(1.2);
}
ul{
	width: 100%;
	box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;
	padding: 0 1.75rem;
}
.item-box{
	width: 25%;
	padding: 1.75rem;
	box-sizing: border-box;
}
.item-main{
	width: 100%;
	position: relative;
}
.item-cont{
	width: 100%;
	height: 19rem;
	border-radius: var(--border-radius);
	box-shadow: var(--box-shadow);
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}
.see-code{
	font-size: 0.75rem;
	font-weight: 900;
	position: absolute;
	right: 1.5rem;
	bottom: 1.5rem;
	z-index: 10;
	opacity: 0;
}
.see-content{
	font-size: 0.75rem;
	font-weight: 900;
	position: absolute;
	left: 1.5rem;
	bottom: 1.5rem;
	z-index: 10;
	opacity: 0;	
}
.item-main:hover .see-code,.item-main:hover .see-content{
	opacity: 1;
}
.see-code:hover,.see-content:hover{
	cursor: pointer;
	color: #2552CD;
	transform: scale(1.2);
}
footer{
	width: 100%;
	font-size: 0.75rem;
	position: relative;
	box-sizing: border-box;
	padding: 3.625rem 2rem 1.5rem;
	display: flex;
	justify-content: space-between;
}
footer>section{
	width: 50%;
	margin: 0;
}
footer>section:first-child{
	flex-wrap: wrap;
	flex-direction: row;
}
footer>section:last-child{
	flex-direction: row-reverse;
	flex-wrap: wrap;
}
footer>section>*{
	padding: 1.5rem;
}
.text-link{
	color: var(--main-color);
}
.text-link:hover{
	cursor: pointer;
	color: #2552CD;
}
.pop-cont,.pop-cont-2{
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,0.3);
	z-index: 100;
	padding: 6.25rem;
	box-sizing: border-box;
	display: flex;
	align-items: center;
}
.pop-main,.pop-main-2{
	width: 100%;
	background-color: var(--second-color);
	border-radius: var(--border-radius);
	padding: 2.25rem;
	box-sizing: border-box;
	border: 1px solid #ffffff;
	box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.2);
	display: flex;
	flex-direction: row;
}
.pop-left,.pop-right{
	width: 50%;
	box-sizing: border-box;
	padding: 1.25rem;
}
.popup-box{
	width: 100%;
	border-radius: var(--border-radius);
	box-shadow: var(--box-shadow);
	position: relative;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	padding: 2rem;
}
.popup-title{
	justify-content: space-between;
	font-size: 0.875rem;
	font-weight: 900;
	padding-bottom: 2rem;
}
.pop-eg{
	width: 100%;
	height: 19rem;
	display: flex;
	justify-content: center;
	align-items: center;
}
.item-cont >span:nth-child(2),.pop-eg > span:nth-child(2){
	display: flex;
	justify-content: center;
	align-items: center;
}
.copy-btn{
	cursor: pointer;
	color: #2552CD;
}
.html-box{
	height: 7.5rem;
	overflow-y: auto;
}
.css-box{
	height: 36.25rem;
	overflow-y: auto;
}
.tip{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	background-color: var(--main-color);
	color: #ffffff;
	font-size: 12px;
	padding: 0.3125rem 0.625rem;
	border-radius: 0.375rem;
}
.about-box{
	width: 30rem;
	font-size: 14px;
}
.about-box p,.issue-box p{
	margin-bottom: 1.5rem;
	line-height: 1.5;
}
.img-box,.hongbao-box{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 0!important;
}
.hongbao-box{
	flex-direction: column;
	margin: 0 1rem;
}
.font-b{
	font-weight: 700;
	margin-top: 0.5rem;
}
.pop-cont-2{
	padding: 0;
	justify-content: center;
}
.pop-main-2{
	width: auto;
}
.issue-box{
	width: 15.25rem;
	font-size: 0.875rem;
}
.btn-issue{
	width: 15rem;
	padding: 1rem 0;
	font-size: 1rem;
	font-weight: 400;
	color: var(--main-color);
	display: block;
	text-align: center;
	border: 0.125rem solid var(--main-color);
	border-radius: var(--border-radius);
	transition: all 0.24s ease-in-out;
}
.btn-issue:hover{
	cursor: pointer;
	color: #ffffff;
	background-color: #2552CD;
	border-color: #ffffff;
}
.emoji{
	position: absolute;
	left: 1.5rem;
	top: 1.5rem;
	z-index: 5;
}
/** 自适应 **/
@media screen and (max-width:768px){
	header{
		padding: 3rem 0 0;
	}
	section{
		margin-top: 2rem;
	}
	.tag,.see-code,footer section:last-child .text-link:nth-child(1),footer section:last-child .text-link:nth-child(2),.pop-icon{
		display: none;
	}
	ul{
		padding: 0 0.5rem;
	}
	.item-box{
		width: 100%;
		padding: 1rem 0.5rem;
	}
	footer{
		padding: 1rem;
	}
	footer>section>*{
		padding: 0.625rem;
	}
	footer section:first-child{
		width: 50%;
		line-height: 1.25rem;
	}
	footer section:last-child{
		width: 30%;
		line-height: 1.25rem;
	}
}
/** 自适应 **/
@media screen and (min-width: 769px) and (max-width:960px){
	header{
		padding: 4.375rem 0 0;
	}
	.item-box{
		width: 50%;
		padding: 1rem;
	}
	footer{
		padding: 1.5rem 2rem;
	}
	.pop-cont, .pop-cont-2{
		padding: 3.75rem;
	}
	.pop-main{
		padding: 1rem;
	}
	.pop-main-2{
		padding: 2rem;
	}
	.pop-left, .pop-right{
		padding: 1rem;
	}
	.pop-eg{
		height: 12.5rem;
	}
	.popup-box{
		padding: 1.25rem;
	}
	.popup-box.m-t-40{
		margin-top: 2rem;
	}
	.popup-title{
		padding-bottom: 1.25rem;
	}
	.css-box{
		height: 27rem;
	}
}
@media screen and (min-width: 961px) and (max-width:1024px){
	header{
		padding: 4.375rem 0 0;
	}
	.item-box{
		width: 50%;
		padding: 1rem;
	}
	footer{
		padding: 1.5rem 2rem;
	}
	.pop-cont, .pop-cont-2{
		padding: 3.75rem;
	}
	.pop-main{
		padding: 1rem;
	}
	.pop-main-2{
		padding: 2rem;
	}
	.pop-left, .pop-right{
		padding: 1rem;
	}
	.pop-eg{
		height: 12.5rem;
	}
	.popup-box{
		padding: 1.25rem;
	}
	.popup-box.m-t-40{
		margin-top: 2rem;
	}
	.popup-title{
		padding-bottom: 1.25rem;
	}
	.css-box{
		height: 27rem;
	}
}
@media screen and (min-width: 1025px) and (max-width:1440px){
	.item-box{
		width: 33.3333%;
		padding: 1rem;
	}
	.pop-main{
		padding: 1rem;
	}
	.pop-eg{
		height: 12.5rem;
	}
	.popup-box{
		padding: 1.25rem;
	}
	.popup-box.m-t-40{
		margin-top: 2rem;
	}
	.popup-title{
		padding-bottom: 1.25rem;
	}
	.css-box{
		height: 27rem;
	}
}
@media screen and (min-width: 1441px) and (max-width:1680px){
	.item-box{
		width: 33.3333%;
	}
}





