<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
	<meta name="keywords" content="funcss,css,css3,html,有趣的CSS,过渡动画,css动画,设计师工作日常">
	<meta name="description" content="关于 CSS 的案例展示和分享平台,这里提供了一些 CSS 实例 Demo,为学习者获取灵感和思路提供一点帮助,设计,UI,网页设计,前端开发,css3,css">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
	<meta name="baidu-site-verification" content="codeva-ilwycyROI3" />
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
	<title>有趣的CSS</title>
	<link href="https://fonts.loli.net/css2?family=Noto+Sans+SC:wght@400;700;900&display=swap"" rel="stylesheet">
	<link rel="stylesheet" href="css/common.css">
	<link rel="stylesheet" href="css/funcss.css">
	<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7227292961308738" crossorigin="anonymous"></script>
</head>
<body>
  <div id="app">
		<div class="pop-icon" title="领红包赞助本站" @click="showSponsor">
			<div class="sponsor">¥</div>
		</div>
		<transition :duration="400">
			<div v-if="sponsor" class="pop-cont-2"  @click="hideSponsor">
				<div class="pop-main-2" @click.stop>
					<div class="about-box">
						<p>因为个人运营网站，这个入口是希望大家能免费的支持一下本站的运营。</p>
						<p>如果您觉得这个网站还不错，可以打开支付宝扫一扫下面的红包码，在您领取一些红包的同时，也可以支持和帮助一下本站。</p>				
						<p>此致！敬礼！</p>
						<p class="img-box">
							<img src="https://appshare.liujueyi.cn/imgs/zfbhb.png" style="width: 124px;border-radius: 3px;" alt="支付宝红包">
							<span class="font-b">- 扫码领红包 -</span>
						</p>
					</div>
				</div>
			</div>
		</transition>
		<div v-if="pageLoad" class="page-load">
			<div class="text-load-box">
				<span>F</span>
				<span>U</span>
				<span>N</span>
				<span>C</span>
				<span>S</span>
				<span>S</span>
			</div>
		</div>
    <header>
      <div class="head-title">有趣的CSS</div>
    </header>
    <main>
      <section>
				<div class="tag">
					<p class="p-title" :class="{'tag-sel': selectedType === ''}" @click="selectedType = ''">全部</p>
					<p class="p-title" :class="{'tag-sel': selectedType === 0}" @click="selectedType = 0">按钮 / 链接</p>
					<p class="p-title" :class="{'tag-sel': selectedType === 1}" @click="selectedType = 1">输入框</p>
					<p class="p-title" :class="{'tag-sel': selectedType === 2}" @click="selectedType = 2">加载中</p>
					<p class="p-title" :class="{'tag-sel': selectedType === 3}" @click="selectedType = 3">文字</p>
				</div>
				<ul>
					<li v-for="item in filteredItems" :key="item.id" class="item-box">
						<div class="item-main">
							<emoji-reaction availableArrayString="👍,thumbs-up;🎉,party-popper;🚀,rocket;" class="emoji" :reacttargetid="item.id"></emoji-reaction>
							<div class="item-cont">
								<span v-html="LocationStyle(item.style,item.id)"></span>
								<span :class="'cs'+item.id" v-html="item.code"></span>
							</div>
							<a class="see-content" :href="item.link" target="_blank">代码详解</a>
							<a class="see-code" href="javascript:;" @click="showPopup(item)">查看代码</a>
						</div>
					</li>
				</ul>
			</section>
    </main>
		<footer>
			<section>
				<span>funcss ©️ 2023</span>
				<a class="text-link" target="_blank" href="https://beian.miit.gov.cn/">冀ICP备19017590号-1</a>
				<span id="busuanzi_container_site_pv" style='display:none'>
				    总访问量 <span id="busuanzi_value_site_pv"></span> 次
				</span>
			</section>
			<section>
				<a class="text-link" href="javascript:;"  @click="top">回到顶部</a>
				<a class="text-link" href="javascript:;"  @click="showLike">喜欢</a>
				<a class="text-link" href="javascript:;"  @click="showAbout">关于</a>
				<a class="text-link" href="https://whtool.liujueyi.cn/" target="_blank">WHTOOL</a>
				<a class="text-link" href="https://appshare.liujueyi.cn/" target="_blank">APPSHARE</a>
			</section>
		</footer>
		<transition :duration="400">
			<div v-if="show" class="pop-cont"  @click="hidePopup">
				<div class="pop-main" @click.stop>
					<div class="pop-left">
						<div class="popup-box">
							<div class="popup-title flex">
								<div>{{popupItem.title}}</div>
								<div>by {{popupItem.coder}}</div>
							</div>
							<div class="pop-eg">
								<span v-html="LocationStyle(popupItem.style,popupItem.id)"></span>
								<span :class="'cs'+popupItem.id" v-html="popupItem.code"></span>
							</div>
						</div>
						<div class="popup-box m-t-40">
							<div class="popup-title flex">
								<div>HTML</div>
								<a class="copy-btn" href="javascript:;" @click="copyHtml">复制代码</a>
							</div>
							<div class="f14">
								<pre class="html-box" v-text="filteredCode(popupItem.code)"></pre>
							</div>
							<transition>
								<div v-if="htmlTip" class="tip">复制成功</div>
							</transition>
						</div>
					</div>
					<div class="pop-right">
						<div class="popup-box">
							<div class="popup-title flex">
								<div>CSS</div>
								<a class="copy-btn" href="javascript:;" @click="copyCss">复制代码</a>
							</div>
							<div class="f14">
								<pre class="css-box" v-text="filteredCode(popupItem.style)"></pre>
							</div>
							<transition>
								<div v-if="cssTip" class="tip">复制成功</div>
							</transition>
						</div>
					</div>
				</div>
			</div>
		</transition>
		<transition :duration="400">
			<div v-if="about" class="pop-cont-2"  @click="hideAbout">
				<div class="pop-main-2" @click.stop>
					<div class="about-box">
						<p>大家好! 我是 Just. Liu，欢迎光临本站。</p>						
						<p>本站是一个关于 CSS 的案例展示和分享平台，这里提供了一些 CSS 实例 Demo，为学习者获取灵感和思路提供一点帮助。</p>				
						<p>CSS 是一种很酷很有趣的语言，希望你们也喜欢。</p>
						<p>最新实例通过公众号 { 设计师工作日常 } 发布，欢迎大家扫码关注。</p>
						<p>个人微博：<a style="color: #3a6dd5;" href="https://weibo.com/u/1849041452" target="_blank">@Just041</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;电报频道：<a style="color: #3a6dd5;" href="https://t.me/designer_work_share" target="_blank">设计师工作日常© 频道</a></p>
						<p class="img-box">
							<img src="img/wxgzh.png" alt="公众号">
							<span class="font-b">公众号：设计师工作日常</span>
						</p>
					</div>
				</div>
			</div>
		</transition>
		<transition :duration="400">
			<div v-if="like" class="pop-cont-2"  @click="hideLike">
				<div class="pop-main-2" @click.stop>
					<div class="about-box">
						<p>如果你喜欢本站，可以推荐给你的小伙伴，也可以通过打赏支持一下。</p>
						<p class="img-box" style="flex-direction: row;">
							<span style="display: flex;flex-direction: column; align-items: center;margin-right: 40px;">
								<img src="img/zfb.png" alt="支付宝">
								<span class="font-b">支付宝</span>
							</span>
							<span style="display: flex;flex-direction: column; align-items: center;">
								<img src="img/wx.png" alt="微信">
								<span class="font-b">微信</span>
							</span>
						</p>
					</div>
				</div>
			</div>
		</transition>
  </div>
	<script src="https://cdn.bootcdn.net/ajax/libs/vue/3.2.22/vue.global.js"></script>
	<script src="https://cdn.bootcdn.net/ajax/libs/axios/1.3.6/axios.min.js"></script>
	<script src="app.js?k124s"></script>
	<script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
	<!-- <script type="module" src="https://cdn.jsdelivr.net/gh/emaction/frontend.dist@1.0.11/bundle.js"></script> -->
	<script type="module" src="bundle.js"></script>
	<script>
	var _hmt = _hmt || [];
	(function() {
	  var hm = document.createElement("script");
	  hm.src = "https://hm.baidu.com/hm.js?c87122b87f8e1095711365153cc6e7fc";
	  var s = document.getElementsByTagName("script")[0]; 
	  s.parentNode.insertBefore(hm, s);
	})();
	</script>
</body>
</html>
