<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>有趣的CSS</title>
	<link rel="preconnect" href="https://fonts.proxy.ustclug.org">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.proxy.ustclug.org/css2?family=Noto+Sans+SC:wght@400;700;900&display=swap"" rel="stylesheet">
	<link rel="stylesheet" href="css/common.css">
	<link rel="stylesheet" href="css/funcss.css">
</head>
<body>
  <div id="app">
    <header>
      <div class="head-title">有趣的CSS</div>
    </header>
    <main>
      <section>
				<p class="p-title">按钮 / 链接</p>
				<ul>
					<li v-for="button in buttons" :key="button" class="item-box">
						<div class="item-main">
							<div class="">
								<span>{{ button.title }}</span>
								<span>by {{button.coder}}</span>
							</div>
							<div class="item-cont">
								<span class="c-style" v-html="button.style"></span>
								<span v-html="button.code"></span>
							</div>
							<a class="see-code" href="javascript:;">查看代码</a>
							<pre v-html="filteredHtml(button.style)"></pre>
							<!-- <pre>{{ filteredHtml(button.style) }}</pre> -->
						</div>
					</li>
				</ul>
			</section>
			<section>
				<p class="p-title">输入框</p>
				<ul>
					<li v-for="input in inputs" :key="input" class="item-box">
						<div class="item-cont">
							{{input.title}}
						</div>
					</li>
				</ul>
			</section>
    </main>
		<my-footer></my-footer>
  </div>
  <script src="https://unpkg.com/vue@3.2.22/dist/vue.global.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script src="./components/MyFooter.vue"></script>
	<script src="app.js"></script>
</body>
</html>
